*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.main-options{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    flex-wrap:wrap;
    gap: 2vw;
}
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    margin: 2vw;
}
.calculo-imc-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
}
.gallery-banner {
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 20px;
}
.title-weight{
    font-size: 1rem;
    font-weight: 1rem;
}
.image-gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 5rem;
}